#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>

#define DEFAULT 0
#define SIGN 1
#define NUMBER 2
#define AUTO_MOUSE 4
#define LOW_DPI 5
#define SCROLL 6
#define VIM_NORMAL 7
#define STAGE 8
#define YANK 9
#define TAPPING_TERM_MS_FAST 180
#define TAPPING_TERM_MS_SLOW 250
#define COMBO_TIMEOUT_MS 150

&lt {
    flavor = "hold-preferred";
}

/ {
    combos {
        compatible = "zmk,combos";

        app_swich {
            bindings = <&app_switch>;
            slow-release;
            key-positions = <24 56>;
        };

        escape_combo {
            timeout-ms = <COMBO_TIMEOUT_MS>;
            key-positions = <24 23>;
            bindings = <&kp ESCAPE>;
        };

        kana {
            bindings = <&kp LANG2>;
            key-positions = <24 37>;
        };

        eiji {
            bindings = <&kp LANG1>;
            key-positions = <60 24>;
        };
    };

    macros {
        line_copy: line_copy {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp HOME &kp LS(END) &kp LG(C)>;
        };

        yank_word: yank_word {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LCTRL>,
                <&macro_press>,
                <&kp LSHIFT &kp RIGHT>,
                <&macro_release>,
                <&kp LSHIFT>,
                <&macro_release>,
                <&kp LCTRL>,
                <&macro_wait_time 20>,
                <&kp LG(C)>;
        };

        app_switch: app_switch {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press>, <&kp LEFT_GUI &mo 10>;

            label = "APP_SWITCH";
        };
    };

    behaviors {
        td_app: td_i_layer {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <TAPPING_TERM_MS_FAST>;
            bindings = <&kp LG(TAB)>;
        };

        td_cut: td_x_layer {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <TAPPING_TERM_MS_FAST>;
            bindings = <&kp LG(X)>;
        };

        td_vim: td_v_layer {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <TAPPING_TERM_MS_FAST>;
            bindings = <&tog 7>;
        };

        td_copy: td_copy {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <TAPPING_TERM_MS_FAST>;
            bindings = <&kp LG(C)>;
        };

        td_paste: td_p_layer {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <TAPPING_TERM_MS_FAST>;
            bindings = <&kp LG(V)>;
        };

        td_caps: tap_dance_caps_word {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <TAPPING_TERM_MS_SLOW>;
            bindings = <&sk LEFT_SHIFT>, <&caps_word>;
        };

        td_cmd: tap_dance_command {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            bindings = <&kp LEFT_GUI>, <&sk LEFT_GUI>;

            tapping-term-ms = <TAPPING_TERM_MS_SLOW>;
            label = "TD_CMD";
        };

        td_opt: tap_dance_option {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            bindings = <&kp LEFT_ALT>, <&sk LEFT_ALT>;

            tapping-term-ms = <TAPPING_TERM_MS_SLOW>;
            label = "TD_OPT";
        };

        td_app_switch: tap_dance_app_switch {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            bindings = <&sk LEFT_GUI>, <&sk TAB>;

            tapping-term-ms = <TAPPING_TERM_MS_SLOW>;
            label = "TD_APP_SWITCH";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default {
            bindings = <
&none      &none    &none    &none  &none    &none                           &none        &none  &none      &none    &none          &none
&kp TAB    &kp Q    &kp W    &kp E  &kp R    &kp T                           &kp Y        &kp U  &kp I      &kp O    &kp P          &kp BSPC
&kp LCTRL  &kp A    &kp S    &kp D  &kp F    &kp G        &none       &none  &kp H        &kp J  &kp K      &kp L    &kp SEMICOLON  &kp RET
&td_caps   &kp Z    &kp X    &kp C  &kp V    &kp B        &kp ESCAPE  &none  &kp N        &kp M  &kp COMMA  &kp DOT  &kp FSLH       &td_caps
&kp F      &td_opt  &td_cmd  &mo SCROLL  &td_cmd  &lt SIGN SPACE  &mo STAGE       &mo NUMBER  &lt NUMBER SPACE  &none  &none      &kp F    &kp F          &kp F
            >;
        };

        sign {
            bindings = <
&none   &none            &none   &none     &none       &none                        &none      &none          &none         &none     &none     &none
&trans  &kp EXCLAMATION  &kp AT  &kp HASH  &kp DOLLAR  &kp PERCENT                  &kp CARET  &kp AMPERSAND  &kp ASTERISK  &kp LPAR  &kp RPAR  &trans
&trans  &trans           &trans  &trans    &kp PIPE    &kp TILDE    &none   &none   &kp UNDER  &kp PLUS       &kp LBRC      &kp RBRC  &kp DQT   &trans
&trans  &trans           &trans  &trans    &trans      &trans       &trans  &trans  &trans     &trans         &kp LT        &kp GT    &trans    &trans
&trans  &trans           &trans  &trans    &trans      &trans       &trans  &trans  &trans     &none          &none         &trans    &trans    &trans
            >;
        };

        number {
            bindings = <
&none   &none         &none         &none   &none     &none                      &none      &none      &none             &none              &none             &none
&trans  &kp NUMBER_1  &kp NUMBER_2  &kp N3  &kp N4    &kp N5                     &kp N6     &kp N7     &kp N8            &kp N9             &kp N0            &trans
&trans  &kp N1        &kp N2        &kp N3  &kp BSLH  &kp GRAVE  &none   &none   &kp MINUS  &kp EQUAL  &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp SINGLE_QUOTE  &trans
&trans  &kp NUMBER_4  &kp N7        &kp N8  &kp N9    &kp N0     &trans  &trans  &none      &none      &kp COMMA         &kp DOT            &trans            &trans
&trans  &trans        &trans        &trans  &trans    &trans     &trans  &trans  &kp TAB    &none      &none             &trans             &trans            &trans
            >;
        };

        layer_3 {
            bindings = <
&none   &none    &none    &none         &none         &none                       &none             &none      &none          &none      &none       &none
&trans  &kp F1   &kp F2   &kp F3        &kp F4        &kp F5                      &kp HOME          &kp PG_UP  &kp PAGE_DOWN  &kp END    &kp ESCAPE  &trans
&trans  &kp F6   &kp F7   &kp F8        &kp F9        &kp F10     &trans  &trans  &kp LEFT          &kp DOWN   &kp UP_ARROW   &kp RIGHT  &kp TAB     &trans
&trans  &kp F11  &kp F12  &out OUT_USB  &out OUT_BLE  &bt BT_NXT  &trans  &trans  &kp SINGLE_QUOTE  &kp DQT    &kp GRAVE      &kp TILDE  &kp PIPE    &trans
&trans  &trans   &trans   &trans        &kp DELETE    &kp TAB     &trans  &trans  &trans            &trans     &trans         &trans     &trans      &trans
            >;
        };

        auto_mouse {
            bindings = <
&none  &none  &none  &none  &none  &none                &none  &none      &none      &none      &none  &none
&none  &none  &none  &none  &none  &none                &none  &none      &none      &none      &none  &none
&none  &none  &none  &none  &none  &none  &none  &none  &none  &mkp LCLK  &mkp RCLK  &mkp MCLK  &none  &none
&none  &none  &none  &none  &none  &none  &none  &none  &none  &none      &none      &none      &none  &none
&none  &none  &none  &none  &mo LOW_DPI  &none  &none  &none  &none  &none      &none      &none      &none  &none
            >;
        };

        low_dpi_layer {
            bindings = <
&none  &none  &none  &none  &none  &none                &none  &none      &none      &none      &none  &none
&none  &none  &none  &none  &none  &none                &none  &none      &none      &none      &none  &none
&none  &none  &none  &none  &none  &none  &none  &none  &none  &mkp LCLK  &mkp RCLK  &mkp MCLK  &none  &none
&none  &none  &none  &none  &none  &none  &none  &none  &none  &none      &none      &none      &none  &none
&none  &none  &none  &none  &none  &none  &none  &none  &none  &none      &none      &none      &none  &none
            >;
        };

        scroll {
            bindings = <
&none   &none   &none   &none   &none   &none                   &none   &none   &none   &none   &none   &none

&none   &none   &none   &none   &none   &none                   &none   &none   &none   &none   &none   &none
&trans  &trans  &trans  &trans  &trans  &trans  &none   &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &none   &trans  &trans  &trans  &trans
            >;
        };

        vim_normal {
            bindings = <
&none   &none   &none   &none   &none          &none                           &none           &none           &none         &none            &none   &none
&trans  &trans  &trans  &trans  &kp LG(LS(Z))  &trans                          &sl YANK          &kp LG(Z)       &to 0         &trans           &trans  &trans
&trans  &trans  &trans  &trans  &trans         &trans          &none   &none   &kp LEFT_ARROW  &kp DOWN_ARROW  &kp UP_ARROW  &kp RIGHT_ARROW  &trans  &trans
&trans  &trans  &trans  &trans  &trans         &kt LEFT_SHIFT  &trans  &trans  &trans          &trans          &trans        &trans           &trans  &trans
&trans  &trans  &trans  &trans  &trans         &trans          &trans  &trans  &trans          &trans          &trans        &trans           &trans  &trans
            >;
        };

        dance_stage {
            bindings = <
&none   &none   &none      &none      &none    &none                   &none   &none   &none        &none   &none      &none
&trans  &trans  &trans     &trans     &trans   &trans                  &sl YANK   &trans  &kp LG(TAB)  &trans  &kp LG(V)  &trans
&trans  &trans  &trans     &trans     &trans   &trans  &none   &none   &trans  &trans  &trans       &trans  &trans     &trans
&trans  &trans  &kp LG(X)  &kp LG(C)  &td_vim  &trans  &trans  &trans  &trans  &trans  &trans       &trans  &trans     &trans
&trans  &trans  &trans     &trans     &trans   &trans  &trans  &trans  &trans  &trans  &trans       &trans  &trans     &trans
            >;
        };

        yank {
            bindings = <
&none   &none   &none       &none   &none   &none                   &none   &none       &none   &none   &none   &none
&trans  &trans  &yank_word  &trans  &trans  &trans                  &trans  &line_copy  &trans  &trans  &trans  &trans
&trans  &trans  &trans      &trans  &trans  &trans  &none   &none   &trans  &trans      &trans  &trans  &trans  &trans
&trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans
&trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans
            >;
        };

        app_switch {
            bindings = <
&none   &none   &none   &none   &none   &none                   &none   &none   &none   &none   &none   &none
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &kp TAB  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans   &trans  &trans  &trans
&none  &none  &none  &none  &none  &none  &none  &none  &none  &none      &none      &none      &none  &none
&none  &none  &none  &none  &none  &none  &none  &none  &none  &none      &none      &none      &none  &none
            >;
        };
    };
};

// マウス操作したらtemp layerを延長

&mkp_input_listener { input-processors = <&zip_temp_layer AUTO_MOUSE 1000>; };
